@import "nullstyle.scss";
@import "ibg.scss";
@import "footer.scss";


@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap');

body{font-family: 'PT Serif', serif;}
.wrapper{min-height: 100%;overflow: hidden;display: flex;flex-direction: column;}
.page{flex: 1 1 auto;}

.container{
    max-width: 1170px;
    margin: 0 auto;
}
@media (max-width:431px) {
    .container{
        max-width: none;
        margin: 0 auto;
    }
}
.containerbg {
    max-width: 1688px;
    margin: 0 auto;
}
.head {
    margin: 40px 0 48px 0;
    &__row{
        display: flex;
    }
    &__title {
        font-size: 40px;
        flex: 1 1 auto;

    }
    &__menu {
        padding: 0 5px 0 0;
    }  
    &__list {
        display: flex;
        align-items: center;
    }
    &__link {
        margin: 0 0 0 40px;
        img{width: 25px;}

    }
}
@media (max-width:431px) {
    .head {
        margin: 20px 0 24px 0;
        &__row{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
        &__title {
            font-size: 30px;
            text-align: center;
            margin: 0px 0px 20px 0px;
    
        }
        &__menu {
            padding: 0 5px 0 0;
        }  
        &__list {
            display: flex;
            align-items: center;
        }
        &__link {
            margin: 0 20px;
            img{width: 25px;}
    
        }
        

    }
}    

.foot {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    height: 62px;
    background: #F0F0F0;
    &__row {
        display: flex;
        margin: 18px 0 0 0;
    }
    &__text {
        color: #808080;
        margin: 2px 198px 0 0;
    }
    &__links {
        flex: 1 1 auto;
        display: flex;
        a:nth-child(1){margin: 0 25px 0 0};
    }
    &__cards {
    }
}
@media (max-width:431px) {
    .foot {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: 100%;
        background: #F0F0F0;
        padding: 0 10px 10px 10px;
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        &__text {
            color: #808080;
            text-align: center;
            margin: 0 0 10px 0;
        }
        &__links {
            display: flex;
            a:nth-child(1){margin: 0 5px 0 0};
        }
        &__cards {
        }
    }
}

.button {
    display: inline-block;
    height: 77px;
    line-height: 77px;
    background-color: #EABF9F;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.2px;
}
@media (max-width:431px) {
    .button {
        display: inline-block;
        height: 18px;
        line-height: 18px;
        background-color: #EABF9F;
        color: white;
        text-transform: uppercase;
        font-size: 10px;
        text-align: center;
        font-weight: 700;
        letter-spacing: 1.2px;
    }}


.general {
    background: url(../img/general.png);
    background-size: cover;
    background-position: 395px -64px;
    padding: 251px 0 296px 0;
    margin: 0px 0px 110px 0px;
    &__row {
    }
    &__title {
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
        margin: 0px 0px 28px 0px;
    }
    &__text {
        font-size: 18px;
        line-height: 30px;
        color: #808080;
        margin: 0px 0px 28px 0px;
    }
    &__button {
        padding: 0 58px;
    }
}
@media (max-width:431px) {
    .general {
        background: url(../img/general.png);
        background-size: cover;
        background-position: 666px 0px;
        padding: 50px 10px;
        margin: 0px 0px 30px 0px;
        &__row {
        }
        &__title {
            font-size: 40px;
            font-weight: 700;
            line-height: 40px;
            margin: 0px 0px 20px 0px;
            padding: 0 70px 0 0;
        }
        &__text {
            font-size: 18px;
            line-height: 20px;
            color: #808080;
            margin: 0px 0px 20px 0px;
            padding: 0 100px 0 0;
        }
        &__button {
            height: 30px;
            line-height: 30px;
            padding: 0 28px;
        }
    }
}
@media (max-width:361px) {
    .general {
        background-position: 640px 0px;
    }}

.trend {
    margin: 0px 0px 80px 0px;
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 48px;
        margin: 0px 0px 60px 0px;
    }
    &__content {
        flex: 1 1 auto;
        margin: 0px 0px 20px 0px;
    }
    &__line {
        margin: 0 0 50px 0;
    }
    &__button {
        padding: 0 43px;
    }
}

@media (max-width:431px) {
    .trend {
        margin: 0px 0px 30px 0px;
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            font-size: 30px;
            margin: 0px 0px 30px 0px;
        }
        &__content {
            flex: 1 1 auto;
            margin: 0px 0px 0px 0px;
        }
        &__line {
            margin: 0 0 0px 0;
        }
        &__button {
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
        }
    }
   }

.line {

    &__row {
        display: flex;
        margin: 0 -15px;
    }
    &__card {
        flex: 0 1 33.3333%;
        padding: 0 15px;
    }
}

@media (max-width:431px) {
    .line {
        &__row {
            display: flex;
            flex-direction: column;
            margin: 0 15px;
        }
        &__card {
            padding: 0px;
        }
    }
}


.card {
    display: flex;
    flex-direction: column;
    &__image {
        height: 517px;
        overflow: hidden;
        margin: 0px 0px 38px 0px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        font-size: 30px;
        margin: 0px 0px 15px 0px;
    }
    &__text {
        font-size: 18px;
        color: #808080;
        margin: 0px 0px 15px 0px;
    }
    &__price {
        display: flex;
        align-items: flex-end;
        font-weight: 700;
        p:nth-child(1){font-size: 18px; text-decoration: line-through;color: #808080;margin: 0 10px 0 0};
    
        p:nth-child(2){font-size: 24px};
    }
}

@media (max-width:431px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image {
            height: 517px;
            width: 100%;
            overflow: hidden;
            margin: 0px 0px 20px 0px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__title {
            font-size: 25px;
            margin: 0px 0px 10px 0px;
        }
        &__text {
            font-size: 16px;
            color: #808080;
            margin: 0px 0px 10px 0px;
            text-align: center;
        }
        &__price {
            display: flex;
            align-items: flex-end;
            font-weight: 700;
            margin: 0px 0px 20px 0px;
            p:nth-child(1){font-size: 14px; text-decoration: line-through;color: #808080;margin: 0 10px 0 0};
        
            p:nth-child(2){font-size: 20px};
        }
    }
}


.sdvig{
    object-position: -300px 0px;
}
.sdvig-reverse{object-position: -150px 0px;}










.category {
    margin: 0px 0px 100px 0px;
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-size: 48px;
        color: #222222;
        margin: 0px 0px 60px 0px;
        text-transform: capitalize;
    }
    &__content {
        width: 100%;
    }
}
@media (max-width:431px) {
    .category {
        margin: 0px 0px 30px 0px;
        &__row {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__title {
            font-size: 48px;
            color: #222222;
            margin: 0px 0px 30px 0px;
            text-transform: capitalize;
        }
        &__content {
            width: 100%;
        }
    }
}
.item {

    &__row {
        display: flex;
        margin: 0px -15px 60px -15px;
    }
    &__column {
        flex: 0 1 50%;
        padding: 0px 15px;
        position: relative;
    }
    &__bgimage{
        height: 669px;
        overflow: hidden;
        img{width: 100%;
        height: 100%;
        object-fit: cover;}
    }
    &__title {
        position: absolute;
        bottom: 60px;
        left: 70px;
        a{
            font-size: 40px;
            color: white;

        }
    }
}

@media (max-width:431px) {
    .item {
        &__row {
            display: flex;
            flex-direction: column;
            margin: 0px;
        }
        &__column {
            margin: 0 10px 10px 10px;
            position: relative;
        }
        &__bgimage{
            height: 340px;
            overflow: hidden;
            img{width: 100%;
            height: 100%;
            object-fit: cover;}
        }
        &__title {
            position: absolute;
            bottom: 30px;
            left: 40px;
            a{
                font-size: 30px;
                color: white;
    
            }
        }
    }
}












.sub {
    background-color: #EABF9F;
    padding: 110px;
    margin: 0px 0px 110px 0px;
    .sub__title {
        text-align: center;
        font-size: 48px;
        margin: 0px 0px 60px 0px;
        span{
            font-weight: 700;
            font-style: italic;
        }
    }
    .sub__form {
        border-radius: 2px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: white;
        padding: 13px 9px 10px 37px;
    }
    .sub__email {
        flex: 1 1 auto;
        input::placeholder{
            font-size: 18px;
            color: #808080;
        
        }
    }
    .sub__button {
        padding: 0 60px;
    }
}
@media (max-width:431px) {
    .sub {
        background-color: #EABF9F;
        padding: 25px;
        margin: 0px 0px 50px 0px;
        .sub__title {
            text-align: center;
            font-size: 20px;
            margin: 0px 0px 20px 0px;
            span{
                font-weight: 700;
                font-style: italic;
            }
        }
        .sub__form {
            border-radius: 2px;
            width: 100%;
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            background-color: white;
            padding: 3px 3px 3px 10px;
        }
        .sub__email {
            flex: 1 1 auto;
            input::placeholder{
                font-size: 13px;
                color: #808080;
            
            }
        }
        .sub__button {
            padding: 0 10px;
        }
    }
}

.otziv {
    margin: 0px 0px 120px 0px;
    &__row {
        display: flex;
    }
    &__image {
        margin: 0 50px 0 0;
        flex: 0 0 570px;
        height: 669px;
        overflow: hidden;
        img{width: 100%;
        height: 100%;
        object-fit: cover;}
    }
    &__body {
    }
    &__text {
        font-size: 40px;
        font-weight: 500;
        line-height: 56px;
        margin: 0px 0px 20px 0px;
        a{color: #EABF9F;text-decoration: underline;}
    }
    &__autor {
        display: flex;
        font-size: 16px;
        p:nth-child(1){font-weight: 600;text-transform: capitalize; margin: 0 5px 0 0};
    }
}
@media (max-width:431px) {
    .otziv {
    margin: 0px 0px 30px 0px;
    &__row {
        display: flex;
        flex-direction: column;
    }
    &__image {
        margin: 0 auto 5px;
        padding: 0 10px;
        flex: 0 0 400px;
        height: 500px;
        overflow: hidden;
        img{width: 100%;
        height: 100%;
        object-fit: cover;}
    }
    &__body {
    }
    &__text {
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        padding: 0 10px;
        text-align: center;
        a{color: #EABF9F;text-decoration: underline;}
    }
    &__autor {
        margin: 0 0 0 10px;
        display: flex;
        font-size: 14px;
        p:nth-child(1){font-weight: 600;text-transform: capitalize};
    }
}
}
    

.info {
    margin: 0px 0px 60px 0px;
    .info__row {
        display: flex;
        margin: 0 -13px 0 -13px;
    }
    .info__column {
        flex: 0 1 33.333%;
        padding: 0 13px;
    }
    .info__element {
    }
}

@media (max-width:431px) {
    .info {
        border-top: 1px solid #808080;
        margin: 0px 5px 20px 5px;
        .info__row {
            margin: 10px 0px 0px 0px;
            display: flex;
            flex-direction: column;
        }
        .info__column {
            padding: 0 13px;
        }
        .info__element {
        }
    }
   }


.element__row {
    display: flex;
}
@media (max-width:431px) {
    .element__row{margin:0 0 10px 0;text-align: center;}
   }
.element__image {
    margin: 0 28px 0 0;
}
@media (max-width:431px) {
    .element__image{margin: 0 12px 0 0;}
   }
.element__body {
}
.element__title {
    font-size: 25px;
    text-transform: capitalize;
    margin: 0px 0px 9px 0px;
}
@media (max-width:431px) {
    .element__title{font-size: 15px;}
   }
.element__text {
    color: #808080;
    font-size: 18px;
}
@media (max-width:431px) {
    .element__text{font-size: 12px;}
   }

.contacts {
    padding: 100px 25px;
    background-color: #F0F0F0;
    .contacts__row {
        display: flex;
    }
    .contacts__column {
        flex: 0 1 25%;
    }
    .contacts__title {
        font-size: 25px;
        margin: 0px 0px 15px 0px;
    }
    @media (max-width:431px) {
        .contacts__title{
            font-size: 15px;
        }}
    @media (max-width:361px) {
        .contacts__title{
            font-size: 12px;
        }}
    .contacts__list {
        li{margin: 0px 0px 20px 0px;
        color: #808080;
        font-size: 16px;}
        @media (max-width:431px) {
             li{margin: 0px 0px 10px 0px;
                color: #808080;
                font-size: 10px;}
            }
    }

    .contact {
    }
}
@media (max-width:431px) {
    .contacts{padding: 30px 5px;
        text-align: center;}
   }